

.tabs {
  .content-right {
    display: none;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    font-family: $font-family-Raleway;
    font-weight: 100;
    line-height: 1.5;
    text-align: left;
    margin-top: 27px;

  }
  .description, .features, .dimensions {
    text-transform: uppercase;
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-right: 20px;
    padding-bottom: 8px;
    font-family: 'Raleway', sans-serif;

  }
}

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .tabs input {
    display: none;
    position: absolute;
  }
  .tabs label{
    display: inline-block;
  }
  .tabs label:hover {
    cursor: pointer;
    border-bottom: 3px solid #00b0ff;
  }
  .tabs input:checked+label {
    border-bottom: 3px solid #00b0ff !important;
  }

  #tabs4:checked~#content-tabs4,
  #tabs5:checked~#content-tabs5,
  #tabs6:checked~#content-tabs6{
    display: block;
  }

  #tabs1:checked~#content-tabs1,
  #tabs2:checked~#content-tabs2,
  #tabs3:checked~#content-tabs3{
    display: block;
  }

@media screen and (max-width: 823px) {
  .tabs{
    text-align: center;
  }

}

  @media screen and (max-width: 414px) {
    .slider-container{
      .information-slider {
        .tabs {
          .description, .features, .dimensions {
            font-size: 16px;
            margin-right: 14px;

          }
        }
      }

    }
  }
