.aboutUas{
  background: url("../images/extrim.png") no-repeat;
  position: relative;
  width: 100%;
  height: 640px;
  background-size: 100%;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
}

.WeareSurfers{
  background-color: #fff;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.text-aboutUas{
  width: 60%;
  margin-left: 100px;

  .text-center{
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .item{
    text-align: left;
    margin-top: 34px;
    color: $black;
    font-size: 22px;
    line-height: 2;

    p{
      font-family: 'Playfair Display', serif;
      font-style: italic;
    }
  }
  .read-more{
    position: relative !important;
    display: inline-block;
    margin-top: 33px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

  }

}

.iframe{
  width: 500px;
  height: 300px;
  margin-left: 70px;
  position: relative;

  .btn-img-video{
      width: 100%;
      display: flex;
      align-items: center;
  }

  .btn-img-video img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .btn-img-video:hover .video-button{
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    80% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }

  .video-button:before {
    margin-top: -60px;
    margin-left: -60px;
    height: 120px;
    width: 120px;
  }

  .video-button:after {
    margin-top: -48px;
    margin-left: -46px;
    height: 90px;
    width: 90px;
  }

  .video-button:after, .video-button:before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .video-button:after {
    border: 3px solid #fff;
  }
  .video-button span {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -16px;
    margin-left: -6px;
    content: "";
    border-width: 16px 22px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
  }
}


