.footer{
  width: 100%;
  background-color: $black;
  padding: 45px 0 70px;
  //margin-top: -170px;


  .foo-wrap{
    display: flex;
    flex-direction: row;

    .footer-contact {
      width: 50%;
      display: flex;

      .autor-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .point {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: #4d4d4d;
          margin: 0 10px 0 10px;
        }
      }
    }
  }
  .menu-footer{
    width: 100%;
    margin-left: 50px;
    position: relative;
    z-index: 9999;
    .footer-nav{
      display: flex;
      flex-direction: row;
      position: relative;
      z-index: 9999;
    }
    .first-menu, .second-menu{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .ul{
      margin-left: 9px;
      position: relative;
      z-index: 9999;
      & li{
        cursor: pointer;
        position: relative;
        line-height: 34px;
      }
      & li a{
        color: $white;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;

      }
      & li a:hover{
        color: #ff8422;
      }

    }
    .first-menu{
      margin-right: 66px;
    }
  }

}

@media screen and (max-width: 1024px) {
  .footer {
    .foo-wrap {
      .footer-contact {
        justify-content: center;
      }
    }
  }
}


@media screen and (max-width: 640px) {
  .footer{
    margin-top: 0;
    .foo-wrap{
      flex-direction: column;
      .footer-contact{
        width: 100%;
      }
      .autor-footer{
        justify-content: center;
        flex-direction: column;
      }
    }
    .menu-footer {
      margin-left: 0px;
      .first-menu, .second-menu {
        margin-right: 0;
        margin-bottom: 30px;
      }
      .footer-nav{
        justify-content: space-around;
      }
      .mail{
        margin: 50px auto;
      }
    }
  }
}
