.team{
  position: relative;
  width: 80%;
  margin: 180px auto;
}
.our-time{
  position: relative;
}

.team-mark{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 25px;
  font-weight: 900;
  color: #f7f7f7;
  text-align: center;
  width: 100%;
  font-size: 150px;
}