.watermark {
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: rotate(270deg);
}

.watermark::after {
  content: attr(data-watermark);
  position: relative;
  right: 0px;
  color: rgba(0, 0, 0, .3);
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;

}