.mark {
  position: relative;
  margin-top: 180px;
  display: flex;
  justify-content: center;
  transform: translateY(40px);
}
.watermark{
  font-size: 130px;
  text-transform: uppercase;
  letter-spacing: 45px;
  font-family: $font-family-Montserrat;
  font-weight: 900;
  color: rgba(247, 247, 247, 1);
  text-align: center;
  position: relative;
  width: 100%;


}
.watermark-card{
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 823px){
  .watermark{
    letter-spacing: normal;
  }
  .mark{
    transform: translateY(-40px);
    .watermark{
      letter-spacing: normal;
    }
  }
  .soc-info{
    .flex-row{
      .watermark{
        font-size: 40px;
        letter-spacing: normal;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .mark{
    margin-top: 50px;
  }
  .watermark{
    font-size: 30px;
  }
}

@media screen and (max-width: 1366px) {
  .mark{
    transform: translateY(24px);
    .watermark {
      font-size: 100px;
    }
  }
}




