@viewport { width: device-width; }

html {
  background-color: $color-background;
  box-sizing: border-box;
  height: 100%;
}

* {
  &:before,
  &:after { box-sizing: inherit; }
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  font-family: $font-family-default;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  background: transparent;
  color: $black;
  text-decoration: none;
  transition: color .2s;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
  font-weight: normal;
}
.container{
  width: 100%;
  position: relative;
  overflow: hidden;
}

ul li{
  list-style: none;
}
h1{
  font-size: 50px;
  color: $black;
}
.wrap-header{
  position: relative;
  width: 100%;
  background: url("../images/header.jpg") no-repeat;
  background-size: 100% 50%;
}
.logo{
  display: block;
  color: $black;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: none;
}
.menu-btn{
  display:none;
  width: 50px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  span {
    width: 100%;
    height: 3px;
    background: $black;
    margin: 5px;
  }

}

.header .wrap .top-nav{
  margin: 0 auto;
}
@keyframes flipdown{
  from{
    transform: rotateX(-180deg);
    opacity: 0;
  }
  to{
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes flipup{
  from{
    transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
  }
  to{
    transform: rotateX(-180deg);
    opacity: 0;
    visibility: hidden;
  }
}

.open.magic-nav li:nth-child(1){
  animation: flipdown .3s cubic-bezier(0.68, -0.55, 0.265, 1.55) .3s both;
}
.open.magic-nav li:nth-child(2){
  animation: flipdown .3s cubic-bezier(0.68, -0.55, 0.265, 1.55) .4s both;
}
.open.magic-nav li:nth-child(3){
  animation: flipdown .3s cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s both;
}
.open.magic-nav li:nth-child(4){
  animation: flipdown .3s cubic-bezier(0.68, -0.55, 0.265, 1.55) .6s both;
}
.open.magic-nav li:nth-child(5){
  animation: flipdown .3s cubic-bezier(0.68, -0.55, 0.265, 1.55) .7s both;
}
.open.magic-nav li:nth-child(6){
  animation: flipdown .3s cubic-bezier(0.68, -0.55, 0.265, 1.55) .8s both;
}

.soc-icon a{
  width: 36px;
  height: 36px;
  margin-left: 10px;
  transition: .8s ease-in-out;
  display: inline-block;
}
.soc-icon a:hover{
  transform: rotate(360deg);
}
.title{
  text-align: center;
  margin-top: 121px;
  font-style: italic;

  p{
    font-size: 24px;
    color: $white;
    font-family: 'Playfair Display', serif;
  }
  h1{
    font-family: 'Playfair Display', serif;
  }
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
.tabs-photo img{
  vertical-align: bottom;
  display: flex;
  height: 100%;
}
.card{
  text-align: center;
  position: relative;
  margin-top: 150px;
}
.read-more{
  padding: 0 0 5px;
  color: $light-blue;
  border-bottom: 2px solid $light-blue;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;

}

.soc-info, .latest-updates, .foo-wrap{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}









