@viewport {
  width: device-width;
}

html {
  background-color: $color-background;
  box-sizing: border-box;
  height: 100%;
}

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  font-family: $font-family-default;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  background: transparent;
  color: $black;
  text-decoration: none;
  transition: color .2s;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
  font-weight: normal;
}

.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 50px;
  color: $black;
}

.logo {
  display: block;
  color: $black;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: none;
}

//.header .wrap .top-nav{
//  margin: 0 auto;
//}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.card {
  text-align: center;
  position: relative;
  margin-top: 150px;
}

.read-more {
  padding: 0 0 5px;
  color: $light-blue;
  font-size: 16px;
  font-weight: 400;
  font-family: $font-family-Montserrat;
  display: inline-block;
  position: relative;
}

.read-more:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: $light-blue;
  height: 2px;
  transition: all .5s;
}

.read-more:hover:before {
  width: 100%;
}

.soc-info, .latest-updates, .foo-wrap {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}









