@viewport { width: device-width; }

html {
  background-color: $color-background;
  box-sizing: border-box;
  height: 100%;
}

* {
  &:before,
  &:after { box-sizing: inherit; }
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  font-family: $font-family-default;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  background: transparent;
  color: $black;
  text-decoration: none;
  transition: color .2s;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
  font-weight: normal;
}
.container{
  width: 100%;
  position: relative;
}

ul li{
  list-style: none;
}
h1{
  font-size: 50px;
  color: $black;
}
.wrap-header{
  position: relative;
  width: 100%;
  background: url("../images/header.jpg") no-repeat;
  background-size: 100% 50%;
}
.logo{
  display: block;
  color: $black;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: none;
}
.soc-icon a{
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 10px;
  transition: .8s ease-in-out;
}
.soc-icon a:hover{
  transform: rotate(360deg);
}
.title{
  text-align: center;
  margin-top: 121px;
  font-style: italic;
  p{
    font-size: 24px;
    color: $white;
  }
}
.content-right{
  text-align: left;
}
hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
.tabs-photo img{
  vertical-align: bottom;
  display: flex;
  height: 100%;
}
.card{
  margin-top: 150px;
  text-align: center;
}
.read-more{
  position: absolute;
  bottom: 0;
  left: 0;
  color: $light-blue;
  border-bottom: 2px solid $light-blue;
  font-size: 16px;
  font-weight: 400;
}







