.tns-controls{
  position: absolute;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  right: -42px;
  top: 50px;
  z-index: 999;
    button{
      padding: 20px;
    }

  button[disabled], input[disabled]{
    opacity: 0.5;
  }

}



